.container.text-center
  %h2 Choose your application type

  .row
    .col-md-6
      = link_to 'Web', '#'
    .col-md-6
      = link_to 'Mobile', '#'

  .row
    .col-md-6
      .box
        = link_to 'Web Landing 1', web_landing_one_path
    .col-md-6
      .box
        = link_to 'Web Landing 2', web_landing_two_path

  .row
    .col-md-6
      .box
        = link_to 'Mobile Landing 1', mobile_landing_one_path
    .col-md-6
      .box
        = link_to 'Mobile Landing 2', mobile_landing_two_path

  .row
    .col-md-6
      .box
        = link_to 'Mixed Landing 1', mixed_landing_one_path