#mixed-landing-two
	.jumbotron
		.container
			.row
				.col-md-6
					%h1{:contenteditable => true} Your travel bucketlist
					%p{:contenteditable => true} Discover more than 5,000 unique travel desitnations around the world and start planning your next adventure.
					/ = link_to "Get Started", '#', class: "btn"
					.app-store-container
						= link_to '#' do
							= image_tag 'app-store.png'
						= link_to '#' do
							= image_tag 'google-play.png'
				.col-md-6
					.text-center
						= image_tag "iphone-screen.png"

	.testimonial
		= link_to "X", '#', class: "close-testimonial close-btn"

	.benefit1
		.container
			.text-center
				%h2{:contenteditable => true} This is a section about the product, something <br> supportive of the benefits, features, or anything else.

				%hr

			.feature-container
				= image_tag "iphone-screen.png", class: "img-responsive"
				%h2{:contenteditable => true} This is a section header
				%p{:contenteditable => true} Croissant chocolate cake tart gingerbread jelly ice cream jelly apple pie. Candy canes gummies cheesecake candy canes gummi bears donut. Candy canes gummies jujubes chocolate cake. Applicake biscuit gingerbread lemon drops bonbon icing topping biscuit. Applicake cupcake pie sesame snaps carrot cake cotton candy chocolate cake sesame snaps cupcake. Jelly beans candy carrot cake cotton candy jelly.

	.benefit2
		.container
			.row
				.col-md-5
					%h2.inverse{:contenteditable => true} This is a section header
					%p{:contenteditable => true} Croissant chocolate cake tart gingerbread jelly ice cream jelly apple pie. Candy canes gummies cheesecake candy canes gummi bears donut. Candy canes gummies jujubes chocolate cake. Applicake biscuit gingerbread lemon drops bonbon icing topping biscuit. Applicake cupcake pie sesame snaps carrot cake cotton candy chocolate cake sesame snaps cupcake. Jelly beans candy carrot cake cotton candy jelly.
				.col-md-7
					= image_tag "iphone-screen.png", class: "img-responsive"

	.benefit3
		.feature-container
			= image_tag "iphone-screen.png", class: "img-responsive"
			%h2{:contenteditable => true} This is a section header
			%p{:contenteditable => true} Croissant chocolate cake tart gingerbread jelly ice cream jelly apple pie. Candy canes gummies cheesecake candy canes gummi bears donut. Candy canes gummies jujubes chocolate cake. Applicake biscuit gingerbread lemon drops bonbon icing topping biscuit. Applicake cupcake pie sesame snaps carrot cake cotton candy chocolate cake sesame snaps cupcake. Jelly beans candy carrot cake cotton candy jelly.

	.call-to-action.text-center
		.container
			%h1{:contenteditable => true} Ready for an adventure?
			%p{:contenteditable => true} Pie jujubes bonbon sugar plum dragée tart jelly cookie donut. Apple pie sweet roll caramels <br> sweet brownie. Apple pie powder biscuit gummies.
			= link_to "Get Started", '#', class: "btn"

	.pricing
		= link_to "X", '#', class: "close-pricing close-btn"
    .container.text-center
      .pricing-header
        %h2{:contenteditable => true} Plans and Pricing
        %p{:contenteditable => true} Travelist is free to use for public trips. Plan private trips with any of our paid plans.
      .row
        .col-md-4
          .price-container.regular-offer
            %h4{:contenteditable => true} Standard Plan
            .price
              %p{:contenteditable => true} $9
              %p.month{:contenteditable => true} /album
            = link_to 'Choose Plan', '#', class: "btn"
        .col-md-4
          .popular-header
            %h4{:contenteditable => true} Most Popular
          .popular-container
            %h4{:contenteditable => true} Startup Plan
            .price
              %p{:contenteditable => true} $29
              %p.month{:contenteditable => true} /album
            = link_to 'Choose Plan', '#', class: "btn"
        .col-md-4
          .price-container.regular-offer
            %h4{:contenteditable => true} Enterprise Plan
            .price
              %p{:contenteditable => true} $59
              %p.month{:contenteditable => true} /album
            = link_to 'Choose Plan', '#', class: "btn"

