.jumbotron
  = link_to root_path do
    .back-button
      = image_tag 'back-arrow.png'
  .row
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            = link_to "Travelist", '#'
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
            #login= link_to "Login", '#'
          %li
            = link_to "Register", '#', class: "button"

  .jumbotron-text-container
    %h1.inverse Your travel bucketlist
    %h5.inverse Discover more than 5,000 unique travel destinations around the world <br> and start planning your next adventure.
    = link_to 'Get started', '#', class: "button jumbo-cta"

#benefits-web-2.text-center
  %h2 Some cool tagline here

  .row
    .small-12.large-4.columns
      = image_tag 'placeholder-image-circular.png'
      .text-container
        %h3 Discover New <br>Places
        %p Enjoy searching through our extensive database of over 5,000 unique travel destinations. Whether you’re into landscapes, beaches, or the arctic, there’s something for everyone.
    .small-12.large-4.columns
      = image_tag 'placeholder-image-circular.png'
      .text-container
        %h3 Travel With <br>Friends
        %p There’s no better way to enjoy your travel bucketlist than with the company of good friends, which is why we give you the ability to create bucketlist groups you can share and discuss for planning that special trip together.
    .small-12.large-4.columns
      = image_tag 'placeholder-image-circular.png'
      .text-container
        %h3 Track Your <br> Adventures
        %p What’s the point of traveling if you can’t share your amazing experiences? Create travel albums and share your travel page with friends to keep them up to date on througout your journey.

.call-to-action
  %h1.inverse Ready for an adventure?
  %h5.inverse Join Travelist today and discover more than 5,000 unique travel destinations.
  = link_to "Create your bucketlist", '#', class: "button"

.footer
  .row
    .small-4.large-4.columns
      %p.text-left © 2014 Travelist
    .small-4.large-4.columns
      %p.text-center Privacy Policy
    .small-4.large-4.columns
      .text-right
        = link_to '#' do
          = image_tag 'facebook-48.png'
        = link_to '#' do
          = image_tag 'twitter-48.png'
